
  body{
    max-width: 100%;
    background: #ffffff;
    text-align: center;
  }
  @import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
  @import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);
  /* * { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; } */

@font-face {
  font-display: fallback;
  font-family: 'Jabin VF';
  font-weight: 40 120;
  src: url('../font/Jabin-Typeface.woff2') format('woff2-variations'),
    url('../font/Jabin-Typeface.woff2') format('woff2'),
    url('../font/Jabin-Typeface.woff') format('woff');
}

@font-face {
  font-display: fallback;
  font-family: 'Zycon';
  font-weight: 40 120;
  src: url('../font/Zycon.woff2') format('woff2-variations'),
    url('../font/Zycon.woff2') format('woff2'),
    url('../font/Zycon.woff') format('woff');
}



section{
  text-align: center;
  /* padding-top: 50px; */
}
header .title{
  text-align: center;
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
  font-size: 40px;
  margin: 60px 0 24px;
  font-weight: 100;
}
header h5{
  margin-bottom: 80px;

}
.letter {
  /* display: inline-block; */
  font-family: 'Jabin VF', sans-serif;
  font-variation-settings: 'wght' 120, 'XXXX' 0;
  font-weight: 100;
  font-size: 120px;
  transition: .6s;
  margin: 0 auto;
  cursor: pointer;
}
.letter small{
  font-size: 48px;

}
.letter.animatie{
  font-size: 60px;
  max-width: 240px;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 4px solid #333333;
  padding-bottom: 16px;
  overflow: hidden;
  animation: slide 2s infinite alternate;
  cursor: text;
  text-align: center;
  margin: 48px 0 80px;
}

.letter:hover{
  font-variation-settings: 'wght' 40, 'XXXX' 0;
}
@keyframes slide {
  0% {
    font-variation-settings: 'wght' 700, 'XXXX' 0;
  }
  100% {
    font-variation-settings: 'wght' 0, 'XXXX' 0;
  }
}



.zcon{
  font-family: Zycon;
  color: rgb(0, 0, 0);
  font-size: 80px;
  font-variation-settings: "T1  " 0, "T2  " 0, "T3  " 0, "T4  " 0, "M1  " 0, "M2  " 0;
  transition: .6s;
  cursor: pointer;
}
.zcon:hover{
  font-variation-settings: "T1  " 1, "T2  " 1, "T3  " 1, "T4  " 1, "M1  " 1, "M2  " 1;
}
.zcon:active{
  font-variation-settings: "T1  " -1, "T2  " -1, "T3  " -1, "T4  " -1, "M1  " -1, "M2  " -1;
}

footer{
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
  margin: 82px 0 40px;
  font-weight: 100
}
